body {
    background-color: rgb(26, 104, 194);
}

canvas {
    border: 4px solid white;
}

h1 {
    color: rgb(12, 68, 128);
}

.options h4 {
    color: rgb(12, 68, 128);
    /* background: red; */
    border-radius: .5em;
    padding: .5em;
    width: 60%;
}

.options h4:first-child {
    background: yellow;
}

.options h4:nth-child(2) {
    background: green;
    color: white;
}

.options h4:last-child {
    background: red;
    color: white;
}

form h3 {
    color: rgb(187, 182, 182);
}

.gamerA {
    color: yellow;
}

.gamerB {
    color: green;
}

.gamerC {
    color: red;
}