body {
    /* background-color: rgb(26, 104, 194); */
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.rightSide,
.weSnake {
    margin-top: 40px;
}

.rightSide h4 {
    color: white;
}

canvas {
    border: 4px solid white;
    background-image: url(../image/canva-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
}

.options h4 {
    color: rgb(12, 68, 128);
    /* background: red; */
    border-radius: .5em;
    padding: .5em;
    width: 60%;
}

.options h4:first-child {
    background: purple;
    color: white;
    box-shadow: 1px 2px;
}

.options h4:nth-child(2) {
    background: purple;
    color: white;
    box-shadow: 1px 2px;
}

.options h4:last-child {
    background: purple;
    color: white;
    box-shadow: 1px 2px;
}

form h3 {
    color: rgb(187, 182, 182);
}

.gamerA {
    color: yellow;
}

.gamerB {
    color: green;
}

.gamerC {
    color: red;
}